li{
	list-style-type:none;
	list-style-position:outside;
        display:inline-block;
        margin-left: 1px;
}
a{
	position:relative;
	display:inline-block;
	padding:10px 20px;
	text-align:center;
	color:#ffffff;
	text-decoration:none;
}
#sample1{
	border-radius:8px;
}
#sample1:hover{
	background-color:rgba(156,201,0,0.8);
}
#sample1:active{
	top:2px;
        
}
#sample2{
	
}
#sample2:hover{
	background-color:rgba(156,201,0,0.8);
}
#sample2:active{
	top:2px;
}
#sample3{
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.6);
	border-bottom:1px solid rgba(0,0,0,0.5);
	border-radius:8px;
	background: -moz-linear-gradient(top,rgba(156,201,0,0.7), rgba(156,201,0,1));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(156,201,0,0.7)), to(rgba(156,201,0,1)));
}
#sample3:hover{
	background: -moz-linear-gradient(top,rgba(156,201,0,0.4), rgba(156,201,0,1));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(156,201,0,0.4)), to(rgba(156,201,0,1)));
}
#sample3:active{
	top:2px;
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0);
	border-bottom:1px solid rgba(0,0,0,0);
	background: -moz-linear-gradient(top,rgba(156,201,0,1), rgba(156,201,0,0.4));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(156,201,0,1)), to(rgba(156,201,0,0.4)));
}
#sample4{
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.6);
	border-bottom:1px solid rgba(0,0,0,0.5);
	background: -moz-linear-gradient(top,rgba(156,201,0,0.7), rgba(156,201,0,1));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(156,201,0,0.7)), to(rgba(156,201,0,1)));
}
#sample4:hover{
	background: -moz-linear-gradient(top,rgba(156,201,0,0.4), rgba(156,201,0,1));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(156,201,0,0.4)), to(rgba(156,201,0,1)));
}
#sample4:active{
	top:2px;
	text-shadow:0 -1px 1px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0);
	border-bottom:1px solid rgba(0,0,0,0);
	background: -moz-linear-gradient(top,rgba(156,201,0,1), rgba(156,201,0,0.4));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(156,201,0,1)), to(rgba(156,201,0,0.4)));
}
#sample5{
    color:#666;
    font-family: 'MS PÃ¦ËœÂÃ¦Å“Â',serif;
    font-size: 14px;
    padding:12px 20px;
    opacity: 0.9;
    background-color: #fefefe;
}
#sample5:hover{
    color:dodgerblue;
    opacity:0.95;
}

ul{
	background: -moz-linear-gradient(top,rgba(255,255,255,1), rgba(180,180,180,1));
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(180,180,180,1)));
    display:inline-block;
    padding:0px;
    padding-right: 1px;
    padding-bottom: 1px;
}