*{
	padding:0px;
	margin:0px;
}
#clickanime{
	position:fixed;
	z-index:4;
}
body{
	background-color: #ffffff;
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	bottom:0px;
}
@media screen and (min-width:1020px){
#inner{
	position:relative;
	top:0px;
	bottom:0px;
	width:900px;
	height:100%;
	margin:0 auto;
	z-index:0;
	padding:0 auto;
	background-color: #ffffff;
}	
}
@media screen and (max-width:1019px){
	#inner{
	position:relative;
	top:0px;
	bottom:0px;
	background-color: #ffffff;
	width:900px;
	height:100%;
	margin:0 auto 0 60px;
	z-index:0;
	padding:0 auto;
	
}
	
}


#sidebar {
	background-color: rgba(156,201,0,1);
	white-space: nowrap; 
	overflow: hidden;
	width:60px;
	height:30px;
	position:fixed;
	top:80px;
	left:0;
	z-index:2;
}
#sidebar:hover{
	width:184px;
	height:auto;
}

#img{
	psition:relative;
	white-space: nowrap;
	overflow: hidden;
	width:832px;
	height:360px;
	padding:0;
	margin:0 auto;
}
#view{
	psition:relative;
	display:block;
	float:left;
	width:640px;
	height:360px;
}
#thumbnail{
	psition:relative;
	display:block;
	float:right;
	width:192px;
	height:360px;
}
.viewphoto{
	position:absolute;
	display:block;
}
.thumbnailphoto{
	position:relative;
	top:16px;
	display:block;
	margin: 0 auto; 
	width:160px;
	height:90px;
	cursor:pointer;
}
#viewphoto1{
	opacity:1;
	display:block;
}
#News{
	display:block;
	padding:0 auto;
	margin-left: auto;
	margin-right: auto;
}
footer{
	position:relative;
	bottom:0px;
	text-align:center;
	
}
ul{
	list-style-type:none;
	list-style-position:outside;
	padding:0px;
}
li{
	display:block;
	list-style-type:none;
	list-style-position:outside;
	text-align:center;
	margin:0px auto;
}
.primenu{
	position:relative;
	
	
	text-align:center;
	
}
li.primenu a{
	position:relative;
	color:#ffffff;
	background-color:rgba(156,201,0,1);
	text-decoration:none;
}

li.primenu a{
	display:block;
}
li.secmenu  a{
	padding:5px 10px 5px 30px;
	background-color:rgba(131,176,0,1);
}
.primenu a:hover{
	background-color:rgba(181,226,25,1);
	z-index:2;
}
.secmenu a:hover{
	background-color:rgba(143,188,12,1);
	z-index:2;
}
.primenu a:active{
	top:3px;
	z-index:3;
}
section h2{
	color:#ffffff;
}
.quicknavi{
	position:absolute;
	top:0;
	left:144px;
	width:40px;
	height:36px;
	padding:0;
	background-color:rgba(156,201,0,1);
	z-index:2;
}
.quicknavi:hover{
		background-color:rgba(181,226,25,1);
}
.naviactive{
	display:none;
	width:16px;
	height:8px;
	margin:14px 16px;	
	text-indent: -9999em;
	background:url(./yazirusi.svg) no-repeat;
	background-position: 0px -8px;
}
.naviunactive{
	width:16px;
	height:8px;
	margin:14px 16px;
	text-indent: -9999em;
	background:url(./yazirusi.svg) no-repeat;
}
.notlist{
	width:184px;
	padding:10px 0px;
}
.sidelist{
	width:144px;
	padding:10px 0px;
}