body{
	height:100%;
	width:100%;
	background-color: #ececec;
	
}
#inner{
	background-color: #ececec;
	margin-left:60px;
}
#sidebar {
	background-color: #fefefe;
	white-space: nowrap; 
	overflow-y: hidden;
	height:100%;
	width:60px;
	position:fixed;
	top:0;
	left:0;
}
