body{
		max-width:960px;
		margin:0 auto;
		background-color:#efefef;
}
header{
	margin-bottom:6px;
	background-color:rgba(156,201,0,1);
}
#img{
	position:relative;
	overflow:hidden;
	width:100%;
	max-width:960px;
	max-height:600px;
	margin:0 auto;
}
#viewtitles{
	
	position:relative;
	display:block;
	white-space: nowrap;
	float:left;
	bottom:0px;
	width:100%;
	height:10%;
}
#view{
	display:block;
	width:100%;
	height:90%;
}
.viewphoto{
	position:absolute;
	display:block;
	width:100%;
	height:90%;
	top:0px;
	left:0px;
}
.viewtitle{
	border-right:solid 1px #f9f9f9;
	border-bottom:solid 1px #f9f9f9;
	background-color:darkorange;
	color:#ffffff;
	margin:0px;
	font-family: Meiryo UI,'Segoe UI Light','SegoeUIWF',Arial,sans-serif;
	font-size:18px;
	display:inline-block;
	text-align:center;
	height:100%;
	line-height:100%;
	cursor:pointer;
}
#viewphoto1{
	opacity:1;
	display:block;
}
#News{
	width:320px;
	border: 1px solid purple;
	padding:0 auto;
	margin-top:16px;
}
#newsmain{
	width:auto;
	font-size:14px;
}